{% extends 'base_auth.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Set new password</h4>
                </div>
            
                <form action="{% url 'reset_password' uidb64 token %}" style="display: flex; flex-direction: column;" method="POST">

                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}


                    <div class="form-group">
                        <input type="password" name="password" id="passwordField" placeholder="Password" class="form-control form-control-sm">
                        <div class="py-3" style="align-self: flex-end; cursor: pointer;">
                            <small style="float: right;" class="showPass">SHOW</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password2" id="passwordField" placeholder="Repeat Password" class="form-control form-control-sm">
                        <div class="py-3" style="align-self: flex-end; cursor: pointer;">
                            <small style="float: right;" class="showPass">SHOW</small>
                        </div>
                    </div>
                    
                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn">
                </form>
            </div>  

            <div class="container" style="padding-bottom: 2rem;">
                <span class="text-lead lead">Already have an account? </span><a href="{% url 'login' %}">Login</a><br>
                <span class="text-lead lead">Don't have an account? </span><a href="{% url 'register' %}">Register</a>
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/user/register.js' %}"></script>

{% endblock %}